.loader-icon {
    display: none;
    animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.loader {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    widows: 100%;
    transform: rotate(calc(35deg * var(--i)));
}

.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 30px #00ff0a,
                0 0 40px #00ff0a,
                0 0 50px #00ff0a,
                0 0 60px #00ff0a,
                0 0 70px #00ff0a,
                0 0 80px #00ff0a,
                0 0 90px #00ff0a,
                0 0 100px #00ff0a;
    animation: animate .5s linear infinite;
    animation-delay: calc(0.06s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    80%, 100% {
        transform: scale(0);
    }
}